# Taken from
# https://wiki.archlinux.org/index.php/RTorrent#with_tmux
[Unit]
Description=rTorrent Daemon
After=network.target

[Service]
Type=forking
KillMode=none
User=rtorrent
ExecStart=/usr/bin/tmux new-session -c ~rtorrent -n "rTorrent" -s rtorrent -d rtorrent
ExecStop=/usr/bin/bash -c "/usr/bin/tmux send-keys -t rtorrent C-q && while pidof rtorrent > /dev/null; do sleep 0.5; done"
WorkingDirectory=%h

[Install]
WantedBy=multi-user.target
