version: '3.4'

# TODO:
# * Automatically find best NordVPN Server and connect to it.
#
#   https://nordvpn.com/api/server
#   https://nordvpn.com/api/server/stats
#   https://nordvpn.com/servers/#recommended

# A service template which creates an openvpn tunnel.
x-vpn: &vpnClient
  image: dperson/openvpn-client
  cap_add:
    - net_admin
  dns:
    - 8.8.8.8
    - 8.8.4.4
  read_only: true
  tmpfs:
    - /tmp
  restart: unless-stopped
  security_opt:
    - label:disable
  devices:
    - /dev/net/tun

  # The only traffic allowed out of this container is traffic to this network
  # and TCP/UDP from the vpn linux group.
  networks:
    - local

# Ensures that a service can only access the network over a VPN. A service with
# the name "vpn" must be present with the vpnClient template above.
x-behind-vpn: &vpnConsumer
  depends_on:
    - vpn

  # Share the network stack of the vpn client container. When this container
  # binds ports, they can be reached through the vpn service.
  network_mode: service:vpn

services:
  rtorrent:
    image: quay.io/0xcaff/rtorrent:latest
    <<: *vpnConsumer
    restart: unless-stopped
    # When rtorrent isn't running in daemon mode, it needs standard input and a
    # tty for curses.
    stdin_open: true
    tty: true
    volumes:
      - /home/rtorrent/:/rtorrent

  flood:
    image: flood
    depends_on:
      - rtorrent
    restart: unless-stopped
    volumes:
      - flood:/data
    environment:
      FLOOD_BASE_URI: /
      RTORRENT_SCGI_HOST: vpn
      RTORRENT_SCGI_PORT: 5000
      # The virtual host used with jwilder/nginx-proxy.
      VIRTUAL_HOST: flood.*
    expose:
      - 3000
    networks:
      - local
      - ingress

  vpn:
    <<: *vpnClient
    volumes:
      - type: bind
        source: ./vpn/
        target: /vpn/

volumes:
  flood:
    driver: local

networks:
  # A network for connecting flood to rtorrent (and the vpn service). This also
  # provides access to the internet for flood, rtorrent and the vpn. The vpn
  # container is responsible for firewalling traffic from rtorrent.
  local:

  # The network on which flood exposes itself on to be seen by
  # jwilder/nginx-proxy.
  ingress:
    external:
      name: ingress-nginx
